interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.clickup.com/api/v2/task/85zt6b21b
  response:
    body:
      string: '{"id":"85zt6b21b","name":"again inside again","status":{"status":"to do","color":"#d3d3d3","orderindex": 0,"type": "open"},"orderindex": "39714443.00000000000000000000000000000000","date_created": "1685517648660",
      "date_updated": "1685688260381","date_closed": null,"date_done": null,"creator": {"id": 67222607,"username": "Parth","color": "#202020","profilePicture": null},"assignees": [],"checklists": [],"tags": [],"parent": null,"priority": null,"due_date": null,"start_date": null,"time_estimate": null,"time_spent": null,"list": {"id": "900200890774"},"folder": {"id": "90020435594"},"space": {"id": "90020155368"},"url": "https://app.clickup.com/t/85zt6b21b"}'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '99'
      X-RateLimit-Reset:
      - '1688729394'
    status:
      code: 200
      message: OK
version: 1
