interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.clickup.com/api/v2/list/900200890774
  response:
    body:
      string: '{"id":"900200890774","name":"AGAIN","deleted":false,"orderindex":0,"content":"{{([])([])}}","priority":null,"assignee":null,"due_date":null,"start_date":null,"folder":{"id":"90020435594","name":"Inside
        Outer Space","hidden":false,"access":true},"space":{"id":"90020155368","name":"outer
        space","access":true},"inbound_address":"a.t.900200890774.u-67222607.e8c939a4-5cb2-4906-9bda-40d5aaca803b@tasks.clickup.com","archived":false,"override_statuses":false,"statuses":[{"id":"p90020155368_40s86Lwa","status":"filler","orderindex":0,"color":"#d3d3d3","type":"open"},{"id":"p90020155368_4addBLTL","status":"bingo","orderindex":1,"color":"#1bbc9c","type":"custom"},{"id":"p90020155368_Ljxh0dqK","status":"complete","orderindex":2,"color":"#6bc950","type":"closed"}],"permission_level":"create"}'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '99'
      X-RateLimit-Reset:
      - '1688729394'
    status:
      code: 200
      message: OK
version: 1
