interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.clickup.com/api/v2/folder/%7B%7D/list/900200890774
    response:

      body: {string: '{
                        "id": "900200890774",
                        "name": "AGAIN",
                        "orderindex": 0,
                        "content": "",
                        "status": null,
                        "priority": null,
                        "assignee": null,
                        "task_count": 1,
                        "due_date": null,
                        "start_date": null,
                        "folder": {
                        "id": "90020435594",
                        "name": "Inside Outer Space",
                        "hidden": false,
                        "access": true
                        },
                        "space": {
                        "id": "90020155368",
                        "name": "outer space",
                        "access": true
                        },
                        "archived": false,
                        "override_statuses": false,
                        "permission_level": "create"
                        }'
            }


      headers:
        Content-Type: [application/json; charset=utf-8]
      status: {code: 200, message: OK}
