interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.clickup.com/api/v2/folder/90020424787
  response:
    body:
      string: '{"id":"p90020155368_40s86Lwa","status":"filler","orderindex": 0,"color":"#d3d3d3","type":"open"}'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '99'
      X-RateLimit-Reset:
      - '1688729394'
    status:
      code: 200
      message: OK
version: 1
